*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand-large {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



.raleway-medium {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
    align-items: center;
    
}
.btn-primary{
    border: none;
    color: white;
    border-radius: 12px;
    font-family: "quicksand";
    
}
/* navbar styles */
#navbar{
    border: 2px solid red;
    width: 1360px;
    height: auto;
    padding: 20px 0;
    
}
.nav-menu{
    width: 390px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: 2px solid red;
}
.nav-text{
    font-family: "quicksand";
    font-weight: 700;
    font-size: 32px;
}
.nav-link{
    text-decoration: none;
}
.nav-container{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: 2px solid blue;
    justify-content: space-between;
}
.nav-item1{
    font-size: 20px;
    color: rgb(254, 163, 1);
}
.nav-item2{
    font-size: 20px;
    font-weight: 500;
    color: rgb(1, 172, 253);
}
.nav-item3{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 212, 223);

}
.nav-item4{
    font-size: 20px;
    font-weight: 500;
    color: rgb(93, 88, 239);
}
.btn1{
    width: 200px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    font-weight: 600;
    font-size: 20px;
}


/* banner-related styles */